{
  "swagger": "2.0",
  "info": {
    "description": "This forum is a place where anyone can participate to discuss and debate about all sort of things. A user can create a thread where others users can comment on it. The threads are divided by categories.",
    "version": "1.0.0",
    "title": "Core - Forum",
    "termsOfService": "http://forum.core.com.br/terms/",
    "contact": {
      "email": "eduardosbcabral@gmail.com"
    },
    "license": {
      "name": "Django",
      "url": "https://www.djangoproject.com/m/foundation/icla.pdf"
    }
  },
  "host": "forum.core.com.br",
  "tags": [
    {
      "name": "user",
      "description": "Operations about users"
    },
    {
      "name": "thread",
      "description": "Operations about thread"
    },
    {
      "name": "category",
      "description": "Operations about category"
    },
    {
      "name": "post",
      "description": "Operations about post"
    },
    {
      "name": "gender",
      "description": "Operations about gender"
    }
  ],
  "schemes": [
    "http"
  ],
  "paths": {
    "/thread": {
      "get": {
        "tags": [
          "thread"
        ],
        "summary": "Return a list of threads of all categories",
        "operationId": "readAllThreads",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON array of all threads",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Thread"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/{categoryId}/thread": {
      "get": {
        "tags": [
          "thread"
        ],
        "summary": "Return all threads by category",
        "operationId": "readAllThreadsByCategories",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of all users by category",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      },
      "post": {
        "tags": [
          "thread"
        ],
        "summary": "Create thread in category",
        "operationId": "createThreadByCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of category",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "thread",
            "description": "thread struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "title",
                "content",
                "active",
                "user"
              ],
              "properties": {
                "title": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                },
                "user": {
                  "type": "object"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "thread created",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to create this thread"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}": {
      "get": {
        "tags": [
          "thread"
        ],
        "summary": "show thread to view",
        "operationId": "showThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the category",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "The id of the thread",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "found thread",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to get this thread"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "put": {
        "tags": [
          "thread"
        ],
        "summary": "Update an existing thread",
        "operationId": "updateThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the category",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "The id of the thread",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "thread",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "thread successfully updated",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to update this thread"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "delete": {
        "tags": [
          "thread"
        ],
        "summary": "Inactivate an existing thread",
        "operationId": "deleteThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the category",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "The id of the thread",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "active",
            "description": "boolean value to desactivate or activate the thread",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "thread successfully deleted"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to delete this thread"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/{categoryId}/thread/new": {
      "get": {
        "tags": [
          "thread"
        ],
        "summary": "Show create thread form",
        "operationId": "showThreadForm",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show create thread form requisition"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}/edit": {
      "get": {
        "tags": [
          "thread"
        ],
        "summary": "show thread form to edit",
        "operationId": "editThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "categoryId",
            "description": "The id of the category",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "threadId",
            "description": "The id of the thread",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "thread to edit",
            "schema": {
              "$ref": "#/definitions/Thread"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to edit this thread"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Return a list of all users",
        "operationId": "readAllUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON array of all users",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/User"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      },
      "post": {
        "tags": [
          "user"
        ],
        "summary": "User sign up",
        "operationId": "createUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "user",
            "description": "user struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "username",
                "gender",
                "email",
                "password",
                "active"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                },
                "gender": {
                  "type": "object"
                },
                "email": {
                  "type": "string"
                },
                "image": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user created",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to sign up this user"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/user/new": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Show create user form",
        "operationId": "showUserForm",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "show create user form requisition"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "user"
        ],
        "summary": "User sign in",
        "operationId": "loginUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "username to login",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "password to login",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "user",
            "description": "user struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "username",
                "password"
              ],
              "properties": {
                "username": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "sucessfully signed in",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to sign in with this user"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/user/{username}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Show user to view",
        "description": "The ID of user is on query string",
        "operationId": "showUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username to show user",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "found user",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "invalid id supplied"
          },
          "401": {
            "description": "not enough permissions to view this user"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "put": {
        "tags": [
          "user"
        ],
        "summary": "Update an existing user",
        "description": "The ID of user is on query string",
        "operationId": "updateUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username to update",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user successfully updated",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to update this user"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "Inactivate an existing user",
        "description": "The ID of user is on query string",
        "operationId": "deleteUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username to inactivate",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "active",
            "description": "boolean value to desactivate or activate the user",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "user successfully deleted"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to delete this user"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/user/{username}/edit/": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Show edit user form to update",
        "description": "The ID of user is on query string",
        "operationId": "editUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "description": "username to show edit user form",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show edit user form"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to view this edit user form"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/gender": {
      "get": {
        "tags": [
          "gender"
        ],
        "summary": "Return a list of all genders",
        "operationId": "readAllGenders",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON array of all genders",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Gender"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      },
      "post": {
        "tags": [
          "gender"
        ],
        "summary": "Create gender",
        "operationId": "createGender",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "gender",
            "description": "gender struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "description",
                "active"
              ],
              "properties": {
                "description": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "gender created",
            "schema": {
              "$ref": "#/definitions/Gender"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to create gender"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/gender/new": {
      "get": {
        "tags": [
          "gender"
        ],
        "summary": "Show create gender form",
        "operationId": "showGenderForm",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "show create gender form requisition"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/gender/{genderId}": {
      "get": {
        "tags": [
          "gender"
        ],
        "summary": "Show gender to view",
        "description": "The ID of gender is on query string",
        "operationId": "showGender",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "genderId",
            "in": "path",
            "description": "id to show gender",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "found gender",
            "schema": {
              "$ref": "#/definitions/Gender"
            }
          },
          "400": {
            "description": "invalid id supplied"
          },
          "401": {
            "description": "not enough permissions to view this gender"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "put": {
        "tags": [
          "gender"
        ],
        "summary": "Update an existing gender",
        "description": "The ID of gender is on query string",
        "operationId": "updateGender",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "genderId",
            "in": "path",
            "description": "id of gender",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "gender",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gender"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "gender successfully updated",
            "schema": {
              "$ref": "#/definitions/Gender"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to update this gender"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "delete": {
        "tags": [
          "gender"
        ],
        "summary": "Inactivate an existing gender",
        "description": "The ID of gender is on query string",
        "operationId": "deleteGender",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "genderId",
            "in": "path",
            "description": "id of gender",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "active",
            "description": "boolean value to desactivate or activate the gender",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "gender successfully deleted"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to delete this gender"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/gender/{genderId}/edit/": {
      "get": {
        "tags": [
          "gender"
        ],
        "summary": "Show edit gender form to update",
        "description": "The ID of gender is on query string",
        "operationId": "editGender",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "genderId",
            "in": "path",
            "description": "gender id to show edit gender form",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show edit gender form"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to view this edit gender form"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/category": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Return a list of all categories",
        "operationId": "readAllCategories",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON array of all categories",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Category"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      },
      "post": {
        "tags": [
          "category"
        ],
        "summary": "Create category",
        "operationId": "createCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "category",
            "description": "category struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "category",
                "active"
              ],
              "properties": {
                "category": {
                  "type": "string"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "category created",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to create category"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/category/new": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Show create category form",
        "operationId": "showCategoryForm",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "show create category form requisition"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/category/{categoryId}": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Show category to view",
        "description": "The ID of category is on query string",
        "operationId": "showCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id to show category",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "found category",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "400": {
            "description": "invalid id supplied"
          },
          "401": {
            "description": "not enough permissions to view this category"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "put": {
        "tags": [
          "category"
        ],
        "summary": "Update an existing category",
        "description": "The ID of category is on query string",
        "operationId": "updateCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "category",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "category successfully updated",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to update this category"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "delete": {
        "tags": [
          "category"
        ],
        "summary": "Inactivate an existing category",
        "description": "The ID of category is on query string",
        "operationId": "deleteCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "active",
            "description": "boolean value to desactivate or activate the category",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "category successfully deleted"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to delete this category"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/category/{categoryId}/edit/": {
      "get": {
        "tags": [
          "category"
        ],
        "summary": "Show edit category form to update",
        "description": "The ID of category is on query string",
        "operationId": "editCategory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "gender id to show edit category form",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show edit categpry form"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to view this edit category form"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/post": {
      "get": {
        "tags": [
          "post"
        ],
        "summary": "Return a list of all posts",
        "operationId": "readAllPosts",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "JSON array of all posts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Post"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}/post": {
      "get": {
        "tags": [
          "post"
        ],
        "summary": "Return a list of all posts of the thread",
        "operationId": "readAllPostsOfThread",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "JSON array of all posts",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Post"
              }
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      },
      "post": {
        "tags": [
          "post"
        ],
        "summary": "Create post",
        "operationId": "createPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "post",
            "description": "post struct",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "content",
                "user",
                "thread",
                "active"
              ],
              "properties": {
                "content": {
                  "type": "string"
                },
                "user": {
                  "type": "object"
                },
                "thread": {
                  "type": "object"
                },
                "active": {
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "post created",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to create post"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}/post/new": {
      "get": {
        "tags": [
          "post"
        ],
        "summary": "Show create post form",
        "operationId": "showPostForm",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show create post form requisition"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}/post/{postId}": {
      "get": {
        "tags": [
          "post"
        ],
        "summary": "Show post to view",
        "description": "The ID of post is on query string",
        "operationId": "showPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "path",
            "description": "id to show post",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "found post",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "400": {
            "description": "invalid id supplied"
          },
          "401": {
            "description": "not enough permissions to view this post"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "put": {
        "tags": [
          "post"
        ],
        "summary": "Update an existing post",
        "description": "The ID of post is on query string",
        "operationId": "updatePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "path",
            "description": "id of post",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "post",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Post"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "post successfully updated",
            "schema": {
              "$ref": "#/definitions/Post"
            }
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to update this post"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      },
      "delete": {
        "tags": [
          "post"
        ],
        "summary": "Inactivate an existing post",
        "description": "The ID of post is on query string",
        "operationId": "deletePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "path",
            "description": "id of post",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "active",
            "description": "boolean value to desactivate or activate the post",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "post successfully deleted"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to delete this post"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    },
    "/{categoryId}/thread/{threadId}/post/edit/": {
      "get": {
        "tags": [
          "post"
        ],
        "summary": "Show edit post form to update",
        "description": "The ID of post is on query string",
        "operationId": "editPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "id of category",
            "required": true,
            "type": "string"
          },
          {
            "name": "threadId",
            "in": "path",
            "description": "id of thread",
            "required": true,
            "type": "string"
          },
          {
            "name": "postId",
            "in": "path",
            "description": "post id to show edit category form",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "show edit post form"
          },
          "400": {
            "description": "error ocurred during requisition"
          },
          "401": {
            "description": "not enough permissions to view this edit post form"
          },
          "500": {
            "description": "error occurred on the server"
          }
        }
      }
    }
  },
  "definitions": {
    "Thread": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "format": "varchar (1000)"
        },
        "content": {
          "type": "string",
          "format": "ntext"
        },
        "posts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Post"
          }
        },
        "date": {
          "type": "string",
          "format": "date"
        },
        "user": {
          "$ref": "#/definitions/User"
        },
        "category": {
          "$ref": "#/definitions/Category"
        },
        "active": {
          "type": "boolean"
        }
      },
      "required": [
        "title",
        "content",
        "date",
        "user",
        "category",
        "active"
      ]
    },
    "Post": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "content": {
          "type": "string",
          "format": "ntext"
        },
        "date": {
          "type": "string",
          "format": "date"
        },
        "active": {
          "type": "boolean"
        },
        "user": {
          "$ref": "#/definitions/User"
        },
        "thread": {
          "$ref": "#/definitions/Thread"
        }
      },
      "required": [
        "content",
        "date",
        "user",
        "thread",
        "active"
      ]
    },
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "format": "varchar(500)"
        },
        "active": {
          "type": "boolean"
        }
      },
      "required": [
        "category",
        "active"
      ]
    },
    "User": {
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "primary key"
        },
        "image": {
          "type": "string"
        },
        "gender": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Gender"
          }
        },
        "email": {
          "type": "string",
          "format": "email"
        },
        "password": {
          "type": "string",
          "format": "password"
        },
        "active": {
          "type": "boolean"
        }
      },
      "required": [
        "username",
        "gender",
        "email",
        "password",
        "active"
      ]
    },
    "Gender": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "integer64"
        },
        "description": {
          "type": "string"
        },
        "active": {
          "type": "boolean"
        }
      },
      "required": [
        "description",
        "active"
      ]
    }
  }
}